.bar-sorted {
  background-color: #57a846;
}
.bar-swap {
  background-color: #b979ec;
}
.bar-compare {
  background-color: red;
}

.bar {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
